# Yazi Configuration
# https://yazi-rs.github.io/docs/configuration/yazi/

[mgr]
ratio = [1, 3, 3]
sort_sensitive = false

[preview]
tab_size = 2
max_width = 1024
max_height = 1024

[opener]
zed = [{ run = 'zed "$@"', desc = "Open in Zed" }]
harlequin = [
    { run = 'harlequin "$@"', block = true, desc = "Open using Harlequin" },
]
skim = [{ run = 'skim-preview "$@"', desc = "Preview in Skim" }]
sioyek = [{ run = 'sioyek "$@"', desc = "Preview in Sioyek" }]

[open]
prepend_rules = [
    { mime = "application/sqlite3", use = "harlequin" },
    { mime = "application/duckdb", use = "harlequin" },
    { mime = "application/pdf", use = ["sioyek", "skim", "open"] },
    { mime = "text/*", use = ["zed", "edit", "reveal"] },
]
append_rules = [
    { url = "*/", use = ["zed", "edit", "open", "reveal"] },
    # { name = "*", use = ["zed", "open", "reveal"] },
]
